@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.number {
  text-align: center;
  padding: 145px 0;
  font-size: xx-large;
}

.card {
  margin: auto;
  width: 35%;
  height: 750px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgb(0, 69, 0);
}

#top-icon {
  padding: 10px;
}

#bottom-icon {
  transform: rotate(180deg);
  transform: scaleX(1, -1);
  padding: 10px;
}

#top-icon.bi-suit-heart-fill {
  color: red;
}

#bottom-icon.bi-suit-heart-fill {
  color: red;
}

#top-icon.bi-suit-diamond-fill {
  color: red;
}

#bottom-icon.bi-suit-diamond-fill {
  color: red;
}
